body{
  background-color: #E6D5B8;
  text-align: center;

}
hr{
  border-color: #1C2B2D;
  border-style: dotted none none none;
  border-width: 10px;
  width: 50%;
}
h1{
  font-family:Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #1C2B2D;
}
h2{
  font-family:Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #1C2B2D;
}
h3{
  font-family:Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #1C2B2D;
}

p{
  margin: 13px;
  height: 50px;
  font-family:Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 50px;
  color: #E6D5B8;

}
a{
  text-decoration: none;
}
.main{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  }
.box{
  background-color: #99A8B2;
  border-radius: 1em;
  margin: 10px;
  width: 25%;
  height: 1030px;
  align-items: center;

}


.links{
  align-items: center;
  margin: 17px;


}
.link1{
  background-color: #1F6F8B;
  border-radius: 1em;


}

.link2{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link3{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link4{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link5{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link6{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link7{
  background-color: #1F6F8B;
  border-radius: 1em;
}

.link8{
  background-color: #1F6F8B;
  border-radius: 1em;
}
